
{{#if user}}
<p>Bienvenido! {{user.first_name}} {{user.last_name}}!</p>
<p>Email: {{user.email}}</p>
<p>Edad: {{user.age}}</p>
<a href="/api/session/logout">Logout</a>
{{/if}}


<h2>Mis productos</h2>
<div class="contenedorCards">
    {{#each prod.docs}}
    <div class="card">
        {{!-- <figure>
            <img src={{this.thumbnails.imagen1}}>
        </figure> --}}
        <div class="contenido">
            <h3>{{this.title}} </h3>
            <p>{{this.description}} </p>
            <p>${{this.price}} </p>
        </div>
    </div>
    {{/each}}
</div>
{{#if hasNextPage}}
    <a href="/api/products/?limit={{limit}}&page={{nextPage}}"> Siguiente </a>
{{/if}}

{{#if hasPrevPage}}
    <a href="/api/products/?limit={{limit}}&page={{prevPage}}"> Anterior </a>
{{/if}}

<p>Pagina {{currentPage}} de {{totalPages}}</p>